/.dart_tool/dartpad/web_plugin_registrant.dart
/.dart_tool/flutter_build/5c4959c2f9741566c0c718bb262713a1/App.framework/App
/.dart_tool/flutter_build/5c4959c2f9741566c0c718bb262713a1/.filecache
/.dart_tool/flutter_build/5c4959c2f9741566c0c718bb262713a1/app.dill
/.dart_tool/flutter_build/5c4959c2f9741566c0c718bb262713a1/debug_ios_bundle_flutter_assets.stamp
/.dart_tool/flutter_build/5c4959c2f9741566c0c718bb262713a1/debug_universal_framework.stamp
/.dart_tool/flutter_build/5c4959c2f9741566c0c718bb262713a1/debug_unpack_ios.stamp
/.dart_tool/flutter_build/5c4959c2f9741566c0c718bb262713a1/flutter_assets.d
/.dart_tool/flutter_build/5c4959c2f9741566c0c718bb262713a1/gen_dart_plugin_registrant.stamp
/.dart_tool/flutter_build/5c4959c2f9741566c0c718bb262713a1/gen_localizations.stamp
/.dart_tool/flutter_build/5c4959c2f9741566c0c718bb262713a1/kernel_snapshot.stamp
/.dart_tool/flutter_build/5c4959c2f9741566c0c718bb262713a1/kernel_snapshot_native_assets.stamp
/.dart_tool/flutter_build/5c4959c2f9741566c0c718bb262713a1/kernel_snapshot_program.d
/.dart_tool/flutter_build/5c4959c2f9741566c0c718bb262713a1/kernel_snapshot_program.stamp
/.dart_tool/flutter_build/5c4959c2f9741566c0c718bb262713a1/native_assets.d
/.dart_tool/flutter_build/5c4959c2f9741566c0c718bb262713a1/native_assets.dill
/.dart_tool/flutter_build/5c4959c2f9741566c0c718bb262713a1/native_assets.stamp
/.dart_tool/flutter_build/5c4959c2f9741566c0c718bb262713a1/native_assets.yaml
/.dart_tool/flutter_build/5c4959c2f9741566c0c718bb262713a1/outputs.json
/.dart_tool/flutter_build/5c4959c2f9741566c0c718bb262713a1/program.dill
/.dart_tool/flutter_build/dart_plugin_registrant.dart
/.dart_tool/package_config.json
/.dart_tool/package_config_subset
/.dart_tool/version
/.idea/caches/deviceStreaming.xml
/.idea/libraries/Dart_Packages.xml
/.idea/libraries/Dart_SDK.xml
/.idea/libraries/Flutter_Plugins.xml
/.idea/.gitignore
/.idea/deviceManager.xml
/.idea/getin_scanner_app.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/GetIn-ScannerApp.iml
/android/.idea/caches/deviceStreaming.xml
/android/.idea/.gitignore
/android/.idea/assetWizardSettings.xml
/android/.idea/compiler.xml
/android/.idea/deploymentTargetSelector.xml
/android/.idea/gradle.xml
/android/.idea/kotlinc.xml
/android/.idea/migrations.xml
/android/.idea/misc.xml
/android/.idea/vcs.xml
/build/16513afb3c2c527df2d95c0b52245bfd/_composite.stamp
/build/16513afb3c2c527df2d95c0b52245bfd/gen_dart_plugin_registrant.stamp
/build/16513afb3c2c527df2d95c0b52245bfd/gen_localizations.stamp
/build/last_build_run.json
/ios/.gitignore
/ios/Flutter/Flutter.podspec
/ios/Podfile.lock
/ios/Pods/*
ios/.symlinks/*
/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
/ios/Runner.xcworkspace/contents.xcworkspacedata
/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.x
/.flutter-plugins
/.flutter-plugins-dependencies
/pubspec.lock
/android/gradle/wrapper/gradle-wrapper.properties
/android/.gitignore
/android/build
/build/
/.dart_tool/
/android/gradle/wrapper/gradle-wrapper.jar
/android/.gradle/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/ios/Flutter/ephemeral/flutter_lldb_helper.py
/ios/Flutter/ephemeral/flutter_lldbinit
/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
/ios/Runner.xcworkspace/xcuserdata/imac.xcuserdatad/UserInterfaceState.xcuserstate
/android/key.properties
/android/app/getin_scanner_stage_keystore.jks
/android/app/getin_scanner_stage_keystore.jks
/android/key.properties
/ios/build/*
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.edit.xml
